<ion-content class="ion-padding">
  <div class="d-flex-center">
    <form class="auth-form">
      <ion-icon
        class="shield-icono"
        style="color: #616161"
        name="cloud-outline"
      ></ion-icon>

      <ion-text class="company-title">
        <h1>Compañia XD</h1>
      </ion-text>

      <ion-text class="login-header">
        <h1>Iniciar sesión</h1>
        <p>¡Hola! ¡Qué bueno verte de nuevo!</p>
      </ion-text>

      <ion-item>
        <ion-input
          label="Correo eléctronico"
          labelPlacement="stacked"
          placeholder="example@email.com"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="Contraseña" labelPlacement="stacked" type="password">
          <ion-input-password-toggle slot="end"></ion-input-password-toggle>
        </ion-input>
      </ion-item>

      <ion-button expand="full" routerLink="/home">Iniciar sesión</ion-button>
      
      <ion-button expand="full" fill="outline" routerLink="/register"
        >Registrarse</ion-button
      >

      <ion-text class="center-text">
        <p>O usa uno de tus perfiles</p>
      </ion-text>

      <div class="social-buttons">
        <ion-button
          class="social-button google"
          fill="outline"
          routerLink="/register"
          >Google</ion-button
        >
        <ion-button
          class="social-button facebook"
          fill="outline"
          routerLink="/register"
          >Facebook</ion-button
        >
      </div>

      <ion-text class="forgot-password">
        <p>¿Olvidaste tu contraseña?</p>
      </ion-text>
    </form>
  </div>
</ion-content>
