<ion-content class="ion-padding">
  <form class="auth-form">
    <ion-text class="login-header">
      <h1>Registrar cuenta</h1>
    </ion-text>

    <ion-item>
      <ion-input
        label="Nombre"
        labelPlacement="stacked"
        placeholder="Nombre completo"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-input
        label="Correo"
        labelPlacement="stacked"
        placeholder="Tu correo electrónico"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="Contraseña" labelPlacement="stacked" type="password">
        <ion-input-password-toggle slot="end"></ion-input-password-toggle>
      </ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-checkbox slot="start" name="terms"></ion-checkbox>
      <ion-label>
        Estoy de acuerdo con 
        <a href="/terminos" target="_blank">Términos</a> y 
        <a href="/privacidad" target="_blank">Política de privacidad</a>
      </ion-label>
    </ion-item>

    <ion-button expand="full" type="submit" routerLink="/home">Continuar</ion-button>

    <ion-text class="center-text">
      <p>Ya tienes una cuenta? <a href="/login">Iniciar sesión</a></p>
    </ion-text>
  </form>
</ion-content>
