<ion-header >
  <ion-toolbar style="background-color: white;">
    
    <ion-segment [(ngModel)]="segmentoSeleccionado" class="segmento-clientes" >

      <ion-segment-button value="grupos" style="color: black; font-size: 3vw;">
        Grupos
      </ion-segment-button>

      <ion-segment-button value="administrar-clientes" style="color: black; font-size: 2vw;">
        Administrar clientes
      </ion-segment-button>

    </ion-segment>

    <ion-buttons slot="end">
      <ion-button fill="clear" class="btnAgregar">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
    
  </ion-toolbar>
  
</ion-header>


<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">clientes</ion-title>
    </ion-toolbar>
  </ion-header>

  <ng-container *ngIf="segmentoSeleccionado === 'administrar-clientes'">
    <ion-searchbar [(ngModel)]="terminoBusqueda" placeholder="Buscar Clientes" class="barra-busqueda-clientes"></ion-searchbar>
    <ion-list class="lista-clientes">
      <ion-item *ngFor="let cliente of clientesFiltrados()" class="item-cliente">
        {{ cliente.nombre }}
      </ion-item>
    </ion-list>
  </ng-container>

</ion-content>
